@model DepartmentViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure You Want To Delete @Model.Name Department </h1>
<form asp-controller="Department" asp-action="Delete">
    <partial name="PartialViews/_DeleteDetailsView" />
    <br />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-controller="Department"asp-action="Index" class="btn btn-light">Back To List</a>
</form>
