@model Department
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure You Want To Delete @Model.Name Department </h1>
<form asp-controller="Department" asp-action="Delete">
    <div>
        <label class="col-form-label" asp-for="Code"></label>
        <input readonly class="form-control" asp-for="Code" />
    </div>

    <div>
        <label class="col-form-label" asp-for="Name"></label>
        <input readonly class="form-control" asp-for="Name" />
    </div>

    <div>
        <label class="col-form-label" asp-for="DateOfCreation"></label>
        <input readonly class="form-control" asp-for="DateOfCreation" />
    </div>
    <br />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-controller="Department"asp-action="Index" class="btn btn-light">Back To List</a>
</form>
