@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Department @Model.Name Details</h1>
<div>
    <label class="col-form-label" asp-for="Code"></label>
    <input readonly class="form-control" asp-for="Code" />
</div>

<div>
    <label class="col-form-label" asp-for="Name"></label>
    <input readonly class="form-control" asp-for="Name" />
</div>

<div>
    <label class="col-form-label" asp-for="DateOfCreation"></label>
    <input readonly class="form-control" asp-for="DateOfCreation" />
</div>
<br />
<a asp-controller="Department" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
<a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
