@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Department @Model.Name Details</h1>
<partial name="PartialViews/_DeleteDetailsView" />
<br />
<a asp-controller="Department" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
<a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
