@model Department
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Name Department</h1>
<div asp-validation-summary="All"></div>
<form asp-controller="Department" asp-action="Edit">
    <partial name="PartialViews/_CreateEditView" />
    <br />
    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
</form>
@section ValidationSection
{
    <partial name="_ValidationScriptsPartial" />
}