@model Employee
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Employee</h1>
<br />

<form asp-action="Create">
    <partial name="PartialViews/_CreateEditView" />
    <br />
    <input type="submit" value="Submit" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>
@section ValidationSection
{
    <partial name="_ValidationScriptsPartial" />
}
