@model Employee
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure You Want To Delete Employee @Model.Name </h1>
<form asp-controller="Employee" asp-action="Delete">
    <div>
        <label class="col-form-label" asp-for="Name"></label>
        <input readonly class="form-control" asp-for="Name" />
    </div>

    <div>
        <label class="col-form-label" asp-for="Age"></label>
        <input readonly class="form-control" asp-for="Age" />
    </div>

    <div>
        <label class="col-form-label" asp-for="Address"></label>
        <input readonly class="form-control" asp-for="Address" />
    </div>
    <div>
        <label class="col-form-label" asp-for="Salary"></label>
        <input readonly class="form-control" asp-for="Salary" />
    </div>
    <div>
        <label class="col-form-label" asp-for="DepartmentId"></label>
        <input readonly class="form-control" asp-for="DepartmentId" />
    </div>
    <div>
        <label class="col-form-label" asp-for="Email"></label>
        <input readonly class="form-control" asp-for="Email" />
    </div>
    <div>
        <label class="col-form-label" asp-for="PhoneNumber"></label>
        <input readonly class="form-control" asp-for="PhoneNumber" />
    </div>
    <div>
        <label class="col-form-label" asp-for="HireDate"></label>
        <input readonly class="form-control" asp-for="HireDate" />
    </div>
    <div>
        <label class="col-form-label" asp-for="IsActive"></label>
        <input readonly class="form-control" asp-for="IsActive" />
    </div>
    <br />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back To List</a>
</form>
