@model Employee
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure You Want To Delete Employee @Model.Name </h1>
<form asp-controller="Employee" asp-action="Delete">
    <partial name="_DeleteDetailsView" />
    <br />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back To List</a>
</form>
