@model Employee
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee @Model.Name </h1>
<div asp-validation-summary="All"></div>
<form asp-action="Edit">
    <partial name="_CreateEditView" />

    <br />
    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back To List</a>
</form>
@section ValidationSection
{
    <partial name="_ValidationScriptsPartial" />
}
